header {
  background-color: #16191c;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  display: block;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 15px;
}

header .nav #logo {
  z-index: 98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav #logo a {
  display: inline-block;
}

header .nav #logo a img {
  width: 100px;
  height: 30px;
}

header .nav #nav-button {
  z-index: 98;
  cursor: pointer;
  height: 36px;
  width: 36px;
  top: 25px;
  left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .nav #nav-button .line {
  width: 50%;
  margin: 5% 0;
  height: 3px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #fff;
}

header .nav #nav-button.active .line:first-child {
  -webkit-transform: translate(4px, -1px) rotate(45deg);
          transform: translate(4px, -1px) rotate(45deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

header .nav #nav-button.active .line:nth-child(2) {
  opacity: 0;
}

header .nav #nav-button.active .line:last-child {
  -webkit-transform: translate(3px, -1px) rotate(-45deg);
          transform: translate(3px, -1px) rotate(-45deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

header .nav #nav-menu {
  background-color: #16191c;
  max-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  left: 0;
  width: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .nav #nav-menu.active {
  width: 100%;
}

header .nav #nav-menu .nav-links {
  padding: 0 20px;
}

header .nav #nav-menu .nav-links a {
  font-size: 40px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  line-height: 1;
  border-bottom: 1px solid transparent;
  display: inline-block;
  margin-bottom: 20px;
}

header .nav #nav-menu .nav-links a:hover {
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

header .nav #nav-menu .nav-email {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  white-space: nowrap;
  position: absolute;
  z-index: 9;
  right: -83px;
  bottom: 143px;
}

header .nav #nav-menu .nav-email > a {
  text-transform: uppercase;
}

header .nav #nav-menu .nav-media {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

header .nav #nav-menu .nav-media a {
  margin-right: 10px;
}
